[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
soundfile = "*"
pyloudnorm = "*"
numpy = "*"
pydantic = "*"

[dev-packages]
ruff = "*"
ipython = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"

[scripts]
normalize = "python -m scripts.loudness_normalizer"
shift = "python -m scripts.pitch_shifter"
lint = "ruff check . --fix"
format = "ruff format ."
